<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> File downloader & opener </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="downloadUrl"> </ion-input>
  </ion-item>

  <ion-button
    (click)="downloadFile()"
    [disabled]="downloadUrl === ''"
    expand="full"
  >
    <ion-icon name="download" slot="start"> Download from URL </ion-icon>
  </ion-button>

  <ion-row>
    <ion-col size="4">
      <ion-button (click)="downloadFile(pdfUrl)" expand="full">
        PDF
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="downloadFile(videoUrl)" expand="full">
        MP4
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="downloadFile(imageUrl)" expand="full">
        PNG
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" *ngFor="let file of myFiles">
      <ion-item button detail (click)="openFile(file)">
        <ion-label class="ion-text-wrap">
          {{file.mimeType}} {{file.path}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
